.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
}

.App-link {
  color: #3FD37D;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom Header Styles */
.custom-bg-gray-100 {
  background-color: #f8f9fa !important; /* Very light gray */
}

.custom-bg-gradient-green-blue {
  background: linear-gradient(to right, #28a745, #007bff) !important; /* Green to Blue Gradient */
}

.custom-bg-gray-800 {
  background-color: #343a40 !important; /* Very dark gray, almost black */
}

.text-white {
  color: #fff !important;
}